<div class="container">
  <h1>Want Some Anagrams!?</h1>
  <p>Please enter a word below</p>

  <form name="input" action="" method='post'>
   <input type="text" name="word">
   <input type="submit" value="Submit">
  </form>
  
  <% if @anagrams%>
  <ul>
    <% @anagrams.each do |word| %>
      <li><%= word %></li>
    <% end %>
  <% end %>  
  </ul>
</div>


